html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

//alert

.alert-container {
  display: flex;
  justify-content: center;

  .error {
    position: fixed;
    top: 68px;
    z-index: 5;
  }
}

//modal

.dialog {
  .title-container {
    display: flex;
    justify-content: space-between;

    .title {
      justify-content: flex-start;
      font-size: 18px;
      padding-top: 7px;
    }

    .button-container {
      justify-content: flex-end;

      .close-button {
        color: grey;
        right: -10px;
      }
    }
  }

  .content {
    .title {
      padding: 15px 0px 5px 0px;
      font-weight: bold;
    }

    .paper {
      padding: 10px;
      font-size: 14px;
    }

    .footnote {
      padding-top: 15px;
      font-size: 12px;
      font-style: italic;
    }
  }
}

//form

.switcher {
  padding-top: 120px;
  text-align: center;
}

.form-container {
  max-width: 760px;
  text-align: center;
  margin: auto;
  margin-top: 1px;
  padding: 50px;
  .form {
    max-width: 640px;
    text-align: center;
    margin: auto;

    .form-element {
      margin-bottom: 10px;
    }

    .upload-button {
      width: 80%;
    }

    .text {
      color: #1976d2;
      font-size: 12px;
    }

    .error {
      color: #f47174;
    }

    .link {
      text-decoration: underline;
      &:hover {
        cursor: pointer;
        // color: '#0288d1';
        text-decoration: none;
      }
    }

    .pointer {
      &:hover {
        cursor: pointer;
        // color: '#0288d1';
        text-decoration: underline;
      }
    }

    .example {
      width: 20%;
      // paddingTop: 12;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

//navbar

.drawer {
  text-align: center;
  .link-container {
    text-align: center;
    .link {
      color: black;
      text-decoration: none;
    }
  }

  .drawer-icons {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.link-container {
  display: flex;
  padding-left: 15px;

  .navbar-link {
    padding: 10px;
    text-decoration: none;
    color: lightgray;

    &:hover {
      color: #fff;
    }
  }
}

.navbar-right {
  margin-left: 10px;
  width: 100%;
  display: flex;
  min-width: 300px;
  justify-content: flex-end;

  .nav-button {
    width: 128px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    &:hover {
      .dropdown-content {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s, 0s;
      }
    }

    .button-dropdown {
      background-color: #3d3d90;
      &:hover {
        background-color: #191970;
      }
    }

    .dropdown-content {
      visibility: hidden;
      opacity: 0;
      transition-property: opacity, visibility;
      transition-duration: 0.4s, 0s;
      transition-delay: 0s, 0.4s;
      position: absolute;
      background-color: #3d3d90;
      box-sizing: 'border-box';
      border-radius: 3px;
      font-size: 14px;
      width: 128px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 5;
      border-top-style: groove;
      border-width: 1px;

      .selection-container {
        display: block;
        padding-top: 3px;
        padding-bottom: 3px;
        // border-top-style: groove;
        // border-width: 1px;

        &:last-child {
          padding-bottom: 5px;
        }

        &:hover {
          cursor: pointer;
          background-color: #191970;
          // &:first-child {
          //   border-top-left-radius: 3px;
          //   border-top-right-radius: 3px;
          // }

          &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 5px;
          }
        }

        .selection {
          text-align: center;
          // margin-left: 30px;
          font-size: 14px;
          // font-style: italic;
        }
      }
    }
  }
}

//subscribe

.grid-container {
  .grid {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 195px;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-left: -24px;
  }

  .price {
    padding-bottom: 10px;
  }
}
